body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    margin: 15px;
    background-color: rgb(235, 230, 230);
    color:#0e2037;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0.5em;
}
header {
    text-align: center;
}

#top {
    border-color: #cc9999;
    border-style: solid;
    border-radius: 5px;
    padding: 2em;
    margin-left: 12%;
    margin-right: 15%;
    display: flex;
    overflow: hidden;
}

#top h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 7vw;
    letter-spacing: 0.5vw;
    font-weight: 300;
}

#top h3{
    color: #cc9999;
    margin-top: 0;
    font-weight: 500;
    width: 100%;
    font-size: 2vw;
}

img{
    flex: 2;
    max-width: fit-content;
    height: 12vw;
    padding-left: 0vw;
    border-radius: 5vw;
    margin-left: 5vw;
    display: block;
}

#name {
    flex: 1;
    color: #0e2037;
    font-weight: 500;
    letter-spacing: 4px;
}


#details {
    padding: 2em;
    height: 5em;
    list-style-type: none;
}

#contact {
    width: 49%;
    float: left;
}

#sites {
    width: 49%;
    float: right;
    margin-top: 1em;
}

#objective {
    border-color: #cc9999;
    border-top-style: dotted;
    border-bottom-style: dotted;
    text-align:center;
}

#section {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

#left {                      
    flex:1;
    padding: 2%;
   
}
#left ul{
    list-style-type: none;
    padding: 0 ;
}

#right {
    flex: 3;
    padding: 2%;
}

table, th, td {
    margin-right: 0;
    margin-bottom: 2em;
    border-style: solid;
    border-color:#c79999;
    border-collapse: collapse;
    font-size: 1.2em;
}

th,td{
    padding: 0.5em;;
}

#experience {
    height: 20.5em;
    width: 100%;

}

#experience h6{
    font-style: italic;
    font-weight: 200;
    font-size: 1.2em;
}

#education {
    border-color: #cc9999;
    border-top-style: dotted;
    height: 13em;
}

#references {
    background-color: #c99;
}
