body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 15px;
    background-image: url(wallpaper_faded.jpg);

    background-size: cover;
    color: #0e2037;
    margin-left: 0;
    margin-right: 0 ;
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    align-items: center;
    min-height: 80vh;
}



img {
    flex: 2;
    max-width: fit-content;
    height : 8rem;
    padding: 1rem ;
    border-radius: 7rem;
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
}



nav ul li{
   list-style-type: none;
   display: inline;
   padding: 1vw;
    font-size: 2rem;
    color:#865555;
    margin-right: 4rem;
}
nav ul {
    text-align: right;
    
    margin-top: 3vw;
}

h1 {
    margin-top: 0vw;
    margin-bottom: 0;
    font-family: 'Playfair', serif;
    font-weight: 300;
    color: #a07272;
    text-transform: capitalize;
    letter-spacing: 3rem;
    border-bottom-style: solid;
    border-color: #a07272;
    font-size: 4vw;
   
}

h2{
    margin-top: 2vw;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', serif;
    text-transform:uppercase;
    color: #a07272;
    letter-spacing: 2rem;
}

#name {
    text-align: center;
    width: 90rem;
    z-index: -1;
}

#bio{
    text-align: center;
    opacity: .8;
    display: grid;
    grid-template-columns: 2fr 0.5fr 3fr 0.5fr 2fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    margin-top: 2vw;
}

#svg1{
   grid-column-start: 2; 
   height: 2vw;
border-color: #a07272;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 0.1rem;
    border-left-width: 0.1rem;

}
#svg2 {
    grid-column-start: 4 ;
    height: 2vw;
    border-color: #a07272;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 0.1rem;
    border-right-width: 0.1rem;
    padding-left: 1vw;
}

#svg3 {
    grid-column-start: 2;
    height: 2vw;
    grid-row-start: 3;
    border-color: #a07272;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-width: 0.1rem;
    border-left-width: 0.1rem;
}

#svg4 {
    grid-column-start: 4;
    height: 2vw;
    grid-row-start: 3;
    border-color: #a07272;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 0.1rem;
    border-right-width: 0.1rem;
    padding-left: 1vw;
}

p{
 font-size: 2rem;
 /*background-color: #a07272;*/
 grid-column-start: 3;
 word-spacing: 0.5rem;
color:#a07272;
border-radius: 0.5rem;
grid-row-start: 2;
}

button{
    grid-row-start: 3;
    grid-column-start: 3;
    border-style: none;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: transparent;
    margin-top: 2rem;
}

button a{
  
    color: #a07272;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
 
}

main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    place-items: center;
}